<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Project test 3</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Error page</h2>
        <div>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Message:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${exception}">Message</p></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">URL:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${url}">URL</p>
                    </div>
                </div>
            </form>
    </div>
</div>

</body>
</html>